*{
	margin: 0;
	padding: 0;
	font-size:0.6rem;
	font-family: Arial,Verdana,Sans-serif;
	word-wrap: break-word;

}

img{
	display: block;
}
a{
	text-decoration: none;
	color: black;
}
li{
	list-style: none;
}
body{
	color: #333;
		
}
/*header闁劌鍨�*/
header{
	width: 100%;
	
	/*padding: 0 ;	*/
	
}
.left img{
	width: 0.97735rem;
	height: 0.97735rem;
}
.left a{
	position: absolute;
	top: 0.47735rem;
	left: 0.4444rem;
	z-index: 3;
}
header h2{
	width: 100%;
	height: 1.8664rem;
	line-height: 1.8664rem;
	text-align: center;
	position: relative;
	font-weight: 400;
	
}
.fangdajing a{
	width: 0.97735rem;
	height: 0.97735rem;
	position: absolute;
	top: 0.47735rem;
	right: 0.4444rem;
}

@font-face {font-family: 'iconfont';
    src: url('../font/iconfont.eot'); /* IE9*/
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/iconfont.woff') format('woff'), /* chrome閵嗕公irefox */
    url('../font/iconfont.ttf') format('truetype'), /* chrome閵嗕公irefox閵嗕狗pera閵嗕讣afari, Android, iOS 4.2+*/
    url('../font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont1{font-family:"iconfont";
font-size:0.8rem;font-style:normal;}


.main{
	width: 100%;
}
.main .img{
	width: 100%;
	height: 7.6rem;
	border-bottom: 1px solid #F5F5F5;
}
.main .img img{
	width: 6.25545rem;
	height: 6.25545rem;
	margin: 0 auto;
}

.info{
	margin: 0.61665rem 0 0.2222rem 0.4444rem;
}
.name{
	margin-bottom: 1px;
}
.name p{
	font-size:0.65rem ;
}
.price p{
	font-size:0.65rem ;
	color: #FE4900;
}
.price{
	margin-bottom: 0.35rem;
}
.dec p{
	font-size:0.6rem ;
	color:#B4B4B4;
}
.select{
	
}
.selectitem span{
	display: inline-block;
	padding: 0 0.66667rem;
	height: 1.4rem;
	line-height: 1.4rem;
	text-align: center;
	border: 1px solid #FE4900;
	margin: 0.61665rem 0 0 0.4444rem;
}
.selectitem span:nth-child(2){
	border: 1px solid #F5F5F5;
}
.tuijian{
	margin-top: 0.35rem;
	padding-top: 0.5rem;
	width: 97.2%;
	background: gainsboro;
	height: 1rem;
	line-height: 1rem;
	padding-left: 0.4444rem;
}
.swiper-container{
	
	height: 4.5885rem;
	padding-top: 0.5rem;
	overflow: hidden;
	background: gainsboro;
	position: relative;
	padding-left: 0.25rem;
}
#nav{
	display: -webkit-box; 
    display: -moz-box; 
    display: -ms-flexbox; 
    display: -webkit-flex; 
    display: flex;
	margin: 0 auto;
	width: 95%;	
	position: absolute;
	/*margin-left:0.25rem ;*/
	z-index: 3;
	
}
.swiper-slide{
	padding: 0 0.25rem;
	height: 3.7195rem;
	margin-right: 0.5rem;
	background: white;
	
}
.swiper-slide img{
	margin: 0 auto;
	width: 3.0195rem;
	height: 3.0195rem;
	margin-top: 0.35rem;
}

.banner{
	width: 100%;
	background: white;
	
}
.bannertop{
	display: -webkit-box; 
    display: -moz-box; 
    display: -ms-flexbox; 
    display: -webkit-flex; 
    display: flex;
    width: 90%;
    margin: 0.5rem auto;
}
.click{
	width: 33.333%;
	text-align: center;
	height: 0.85rem;
	line-height: 0.85rem;
	border-right: 1px solid gainsboro;
	color:#B4B4B4 ;
}
.click:last-child{
	border: none;
}
.ban{
	width: 100%;
	overflow: hidden;
	display: none;
}
.ban img{
	width: 100%;
	transform: scale(1,1);
}
.xuanzhong{
	color: #FF5722;
}
/*footer闂侇喓鍔岄崹锟�*/
.main{
	margin-bottom: 2.34745rem;
}
footer{
	width:100%;
	height: 2.2rem;
	position: fixed;
	bottom: 0;
	border-top:1px solid #e0e0e0;
	background: white;
	z-index:3;
	padding-top: 0.25rem;

}
footer ul li{
	float: left;
}
.nav{
	width: 20%;
	height: 1.51565rem;
	color: #E5E5E5;
		
}
.nav:nth-child(2){
	width: 60%;
}
.goumai{
	width: 100%;
	height: 2rem;
	background: #FF5722;
	border-radius:0.15rem ;
}
.goumai p{
	width: 100%;
	font-size:0.65rem;
	color: white;
	line-height:2rem ;
	letter-spacing: 0.065rem;
}
.nav a{
	color: #999;
}
.nav:first-child a{
	width: 100%;
	color: #FF5722;
}
.footer-i{
	width: 100%;
	height: 0.8883rem;
	line-height:2.2rem ;
	margin-bottom: 0.1rem;
	
}
.footer-i .iconfont{
	display: block;
	text-align: center;
	width: 100%;
}
.nav p{
	width: 100%;
	text-align: center;
}


@font-face {font-family: 'iconfont';
    src: url('../font/iconfont.eot'); /* IE9*/
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/iconfont.woff') format('woff'), /* chrome閵嗕公irefox */
    url('../font/iconfont.ttf') format('truetype'), /* chrome閵嗕公irefox閵嗕狗pera閵嗕讣afari, Android, iOS 4.2+*/
    url('../font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont{font-family:"iconfont";
font-size:1.2rem;font-style:normal;}

#totop{
	width: 2rem;
	height: 2rem;
	position: fixed;
	bottom:3rem ;
	right: .25rem;
	border-radius:2rem ;
	background: rgba(0,0,0,.5);
	color: white;
	font-size:.8rem ;
	text-align: center;
	line-height: 2rem;
	display: none;
	z-index: 5;
}